# Ignore .env file
.env

# Gradle
.gradle/
build/

# IDE
.idea/
*.iml
.vscode/
bin/

# Frontend
node_modules/
frontend/node_modules/
frontend/.next/
frontend/.env.local
frontend/.env*.local
frontend/out/
.env*
!.env.example

